* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    text-align: center;
  }
  
  .background-container--image1,
  .background-container--image2,
  .background-container--image3,
  .background-container--image4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.8; */
    width: 100vw;
    height: 80vh;
    padding: 1px;
  }
  
  .background-container--image1 {
    background-image: url(./images/avatar-2-scaled.webp);
    height: 100vh;
  }
  .background-container--image2 {
    background-image: url(./images/avatar-the-way-of-water.jpg);
  }
  .background-container--image3 {
    background-image: url(./images/avatar-2-is-russia-planning-to-legalize-screening-of-pirated-versions-of-the-film-on-disney-pulling-it-back-001.jpg);
  }
  .background-container--image4 {
    background-image: url(./images/avatar2.jpg);
  }
  
  .section {
    height: 30vh;
    line-height: 30px;
    padding: 10px 80px 64px 80px;
  }
  
  .section h2 {
    margin: 60px 0px 15px 0px;
  }
  .section--light {
    background-color:#073268;
    /* opacity: 0.7; */
    color: azure;
  }
  
  .section--dark {
    background-color: #073268;
    color: #ddd;
  }
  
  .heading-container {
    color: white;
    background-color: rgb(75, 45, 77);
    letter-spacing: 8px;
  }
  .heading-container--img {
    margin-top: 470px;
    margin-bottom: 470px;
  }
  
  .img {
    width: 333px;
    height: 70px;
  }
  
  .cont1 {
    line-height: 80px;
    margin: 591px auto;
    padding: 20px;
    font-size: 50px;
    width: 500px;
    outline-offset: 18px;
    outline: 15px inset #a913c7;
    border-radius: 100px 0 100px 0;
  }